﻿/*   
 PICC Excellence Website
*/

@media screen {

* { margin: 0; padding: 0; }
html {background: #ffffff); 

}

body { font: 12px/1.4 arial, helvitica, serif; color: #505555; 

}

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack */ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

article, aside, figure, footer, header, section { display: block; 

}

#page-wrap { width: 1000px; height: auto; margin: 30px auto 0; background: #ffffff; 

}

#mgmtheader 
{position: relative; margin: -28px 0px 0px 0px; padding: 0px 0px 0px 0px;  height: 254px; 
		
}

#header {position: relative; padding: 20px 0px 0px 280px;  height: 335px; 
		
}

#top-line{position: absolute; top: -20px; left: 0px; background: url(images/top-bar.png); width: 1000px; height: 20px;

}

/*  BEGIN TOP MENU BAR - 
	
	ADD MENU BAR CSS  - 6/19/2015  GDM




	END TOP MENU BAR
*/

} /* END screen media */

@media print {

.do-not-print { display: none; }
#comments { page-break-before: always; }

body { width: 100% !important; margin: 0 !important; padding: 0 !important; line-height: 1.4; word-spacing: 1.1pt; letter-spacing: 0.2pt; font-family: Garamond,"Times New Roman", serif; color: #000; background: none; font-size: 12pt; }
h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
h1 { font-size: 19pt; }
h2 { font-size:17pt; }
h3 { font-size:15pt; }
h4,h5,h6 { font-size:12pt; }
code { font: 10pt Courier, monospace; } 
blockquote { margin: 1.3em; padding: 1em; }
img { display: block; margin: 1em 0; }
a img { border: none; }
table { margin: 1px; text-align:left; padding-left: 5px; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th, td { padding: 4px 10px 4px 3px; }
caption { background: #fff; margin-bottom: 2em; text-align: left; }
thead { display: table-header-group; }
tr { page-break-inside: avoid; } 
a { text-decoration: none; color: black; }
	
} /* END print media */