aside, article, header, nav {
	display: block;

}
html {

	background-color: #ECE4CB ;

}
header {
	
	width: 800px;
	height: 158px;
	background: url(../images/Headerb.jpg); no-repeat; width: 800px; height: 158px;
	margin-bottom: 40px;


}
 body
{
    font-family: Arial, Verdana, Sans-Serif;
    font-size: small;
    color: #330000;
	background-color: #f0f0f0;
	width: 800px;
	height: 600px;
	margin: 0 auto;
	border: 1px solid #666;
	
}

#main_wrapper {

	
	width: 798px;
	height: 600px;
	

}

#pg_title {

	
	
	background-color: #A6DFE4;
	border: 1px solid #666;
	border-radius: 10px;
	width: 485px;
	height: 20px;
	padding: 5px;
	margin-bottom: 30px;
	margin-left: 156px;

}

.title {
	font-size: 14px;
	margin-left: 134px;

}


#lg_form {
	
	background-color: #A6DFE4 ;
	border: 1px solid #666;
	border-radius: 25px;
	width: 248px;
	height: 250px;
	margin-left: 280px;
	padding-top: 10px;
	

}

span {
	margin: 5px 0 0 35px;
	padding: 0px;


}

p {
	margin-left: 20px;
	margin-top: 10px;

}

.instrctns {

	font-family: Arial, Verdona, Sans-Serif;
	font-size: .80em;
	font-style: italic;
	margin-left: 20px;
	
}



#proccng {

	background-color: #A6DFE4;
	border: 1px solid #666;
	border-radius: 10px;
	width: 200px;
	height: 20px;
	padding: 10px;
	margin-left: 280px;
	
	

}

#proccng span {

	margin-left: 20px;
	
	

}